.App {
  text-align: center;
  background-image: linear-gradient(
      0deg,
      rgba(192, 108, 29, 0.377),
      rgba(0, 0, 0, 0.329)
    ),
    url('./images/brownBackground.jpg');

  height: 100vh;
  min-height: 517px;
  width: 100vw;
  min-width: 738px;

  display: grid;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 20% 60% 20%;
  color: white;
}

.App-alternate {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.52),
      rgba(0, 0, 0, 0.89)
    ),
    url('./images/sovietBackground.jpg');

  background-repeat: no-repeat;
  background-size: cover;
}

.newGame {
  position: fixed;
  top: 0;
  left: 0;

  height: 9%;
  width: 10%;
  font-family: 'instruct';
  font-size: 2vw;
  -webkit-text-stroke: 2px black;
  color: red;
  border: 4px solid red;
  display: grid;
}

.newGameText {
  justify-self: center;
  align-self: center;
}

.newGame:hover {
  cursor: pointer;
  color: rgb(141, 24, 24);
  border: 4px solid rgb(141, 24, 24);
}

.newGameInvisible {
  display: none;
}

.durak {
  grid-column: 2/3;
  grid-row: 1/2;
  font-size: 10vw;
  font-family: 'Soviet';
  color: red;
  -webkit-text-stroke: 5px black;
  margin-top: 250px;
  letter-spacing: 3px;
}

.App-alternate h3 {
  grid-column: 2/3;
  grid-row: 1/2;
  font-size: 2.5vw;
  font-family: 'Soviet';
  color: red;
  -webkit-text-stroke: 2px black;
  margin-top: 400px;
  letter-spacing: 5px;
}

.enterName {
  grid-column: 2/3;
  grid-row: 2/3;
}

.enterName .charAmount{
  font-size: 15px;
}

.enterName input {
  padding: 12px 20px;
  font-size: 25px;
}

.joinTable {
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: end;
  justify-self: center;

  font-size: 25px;
  color: rgb(184, 167, 11);
  border: 4px solid rgb(184, 167, 11);
  padding: 15px;
  margin-bottom: 30px;
}

.joinTable:hover {
  cursor: pointer;
  color: rgb(253, 228, 5);
  border: 4px solid rgb(253, 228, 5);
}

.tableIsFull{
  grid-column: 1/-1;
  grid-row: 1/-1;
  justify-self: center;
  align-self: center;
  font-family: 'instruct';
  font-size: 60px;
  color: red;
  -webkit-text-stroke: 2px black;
}
