.card {
  margin-left: 0px;
  /* width: 100px; */
  min-width: 59px;
  /* height: 150px; */
  min-height: 88px;
  background-color: white;
  color: tomato;
  display: block;
  float: left;
  border: 2px solid black;
  text-align: left;
  border-radius: 5%;
}

.inHand:hover {
  margin-top: 0px;
}

.invisibleCard {
  background-color: rgba(255, 192, 203, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  /* height: 1px; */
}

.card h3 {
  display: inline-block;
  margin: 3px;
  margin-top: -50px;
  /* background-color: blueviolet; */
}

.backOfCard {
  display: inline-block;
  background-color: white;
  border: 2px solid black;
  width: 50px;
  height: 75px;
  margin-left: 5px;
  border-radius: 5%;
}

.backOfCard img {
  margin-top: 50%;
  height: 30px;
}

.trump .trumpTextHolder {
  font-size: 20px;
}
